<!DOCTYPE html>
<html>
  <head>
    <title>File Manager</title>
    <meta name="direct-upload-url" content="<%= rails_direct_uploads_dirs_path %>" >

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
